/* Fonts */
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Bold.ttf');
  font-weight: 700;
}

/* Variables */
:root {
  --color-dark-blue: hsl(240, 38%, 20%);
  --color-grayish-blue: hsl(240, 18%, 77%);
  --font-size: 32px;
  --font-size-mobile: 18px;
  --font-size-mobile-s: 16px;
}

/* Global Styles */
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Inter';
}

main {
  width: 100%;
  height: 100vh;
  background-image: url('../images/pattern-curve.svg');
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: bottom left;
}

article {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-container {
  display: inherit;
  flex-direction: column;
  align-items: center;
  background-image: url('../images/pattern-bg.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 60px;
}

.img-container img {
  margin-top: 30px;
  width: 77%;
  border-radius: 5px;
  box-shadow: 5px 35px 50px -30px rgba(0,0,0,0.5);
  -webkit-box-shadow: 5px 35px 50px -30px rgba(0,0,0,0.5);
  -moz-box-shadow: 5px 35px 50px -30px rgba(0,0,0,0.5);
}

main article p {
  display: flex;
  padding-top: 32px;
  flex-direction: column;
  align-items: center;
  font-weight: 300;
  font-size: var(--font-size-mobile);
  color: var(--color-dark-blue);
  text-align: center;
  background-image: url('../images/pattern-quotes.svg');
  background-repeat: no-repeat;
  background-size: 20%;
  background-position-x: center;
}

main article p strong {
  margin-top: 25px;
  font-weight: 700;
  font-size: var(--font-size-mobile-s);
}

main article p span {
  font-weight: 500;
  font-size: var(--font-size-mobile-s);
  color: var(--color-grayish-blue);
}

main .slider-controls {
  position: absolute;
  top: 42%;
  left: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80px;
  height: 40px;
  background-color: white;
  border-radius: 30px;
}

main .slider-controls img {
  width: 10px;
  height: 15px;
}